################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeedAidAPI/bin
/NeedAidAPI/obj/Debug
/NeedAidLogging/obj/Debug
/NeedAidModels/obj/Debug
/NeedAidService/obj/Debug
/NeedAidUtility/obj/Debug
